--- CMakeLists.txt.orig	2018-06-16 00:49:06.127847400 +0100
+++ CMakeLists.txt	2018-06-16 00:49:20.834841600 +0100
@@ -65,7 +65,7 @@
 
 add_subdirectory(src)
 add_subdirectory(tests)
-add_subdirectory(autotests)
+#add_subdirectory(autotests)
 
 # create a Config.cmake and a ConfigVersion.cmake file and install them
 set(CMAKECONFIG_INSTALL_DIR "${KDE_INSTALL_CMAKEPACKAGEDIR}/KF5ConfigWidgets")
